FORMAT: 1A
HOST: https://api.lightrail.com/v1/

# Lightrail API

Welcome to the Lightrail API documentation.  Lightrail is an extremely powerful and flexible platform, designed to be rapidly adopted and built into.
This document is part of that experience; in addition to being a fully interactive REST reference, it is designed to minimize implementation time by elaborating on common
use cases, explaining the relevant portions of the Lightrail system and giving common API calls and examples for each.  

Contact us anytime at hello@lightrail.com - we are here to help you solidify your use case and implementation.

### A Note on the Documentation
This interactive documentation will provide full code samples in many popular languages and let you try out all functionality.

The API Blueprint file that produces this documentation is in GitHub at https://github.com/Giftbit/Lightrail-API-Docs. 
If you find a mistake or have a suggestion for improvement, please submit it directly via pull request.

### Common Use Cases
This documentation will explore in detail the most common use cases of the Lightrail API. 
Generally, our users are looking to implement either of the following programs:
<ol>
    <li>A gift card program</li>
    <li>A customer account credit or points program </li>
</ol>

Note that this is not an exhaustive list and some use cases will require a combination of the two. 
Lightrail is designed to power and enhance any use case of stored value.  We are here to work with you.

In each scenario, the power of Lightrail Promotions allows you to incentivize and motivate your users. Lightrail also provides a rich statistical interface which will give you more insight into your programs.

## Getting Started

### API Base URL

The base URL for Lightrail's API is <em>https://api.lightrail.com/v1/</em>.

### Lightrail User Creation and Authorization

You'll need your test or production `access_token` from your Lightrail user details page to use the API. If you don't already have a user account, you can <em><a href="https://www.lightrail.com/#gform" target="_blank">contact us to request a demo</a></em>. Be sure to store your production `access_token` extremely securely in your production configurations.

Note that in your user settings you can toggle to a test mode which provides you with a test `access_token`. This allows you to make calls to the API without affecting your Cards or the calculated statistics in live mode. Emails sent from test mode will be labeled as such.

You authenticate with your `access_token` by including your token prefixed by the word ‘Bearer’ (case sensitive) and a space in the Authorization HTTP header. For example `Authorization: Bearer {access_token}`.

## The Lightrail Object Model
The full API object model is here for your reference. Depending on your use case, you may not need to use every object/endpoint. Read on for use case elaboration

![Lightrail Object Model](http://resources.giftbit.com/api/embeddedimages/Lightrail_Object_Model_(stacked).png)

### Lightrail Cards: The Core Object

The Card is a fundamental object in the Lightrail API and provides the functionality for managing branded currency. 
The concept of a Card can represent any sort of value that your business wishes to issue. 
Simply stated, a Card is a device for which value can be attached and transacted against. 

There are two types of Cards: Gift Cards and Account Cards. These are both represented as a Card but with a different `cardType` attribute. 

#### Gift Cards

Gift Cards, as you might guess, are used when implementing a gift card program. Gift Cards have a `fullcode` which is a unique and unguessable alpha-numeric code that can be distributed to a recipient. 
In a standard gift card program, the recipient would manually enter the `fullcode` during the checkout process.

#### Account Cards

Account Cards represent value that is attached to a Contact. 
They are used when implementing a customer account credit or points program and can be thought of as a customer's account.
Since Account Cards do not have a `fullcode`, their value is interacted with using the Card object. 

## Use Case Exploration

The following sections dive into Lightrail's most common use cases. Feel free to skip to the section relevant to you. If you're not sure which applies to you, please don't hesitate to ask!

Also note, the ability to incentivize your users or recipients through Lightrail Card Promotions is available for both Gift Cards and Account Cards. 
Detailed information for Card Promotions and how it can be applied to either use case can be found in the following [Supercharge your Branded Currency: Promotions](http://docs.giftbitcurrencyapi19.apiary.io/#introduction/supercharge-your-branded-currency:-promotions) section. 

Looking to import your existing codes into the Lightrail system? We support that. Please let us know to find out more. 

### Use Case 1: Powering Your Gift Card Program
 
A common use case for the Lightrail API is one in which Lightrail powers your gift cards. 

For example, suppose your business is an online e-commerce platform and you want to enable your customers to purchase gift cards.
When a customer purchases a gift card, you would create a Gift Card in the Lightrail API. You would retrieve the Gift Card's `fullcode` and deliver it to the customer.
Your store's checkout process would need to allow customers the opportunity to enter the `fullcode` of any gift cards they have.
When completing the purchase you would create a Transaction using the customer entered `fullcode`, redeeming the required value from the Gift Card, completing the transaction. 

Is your store is running on an established e-commerce platform? 
Lightrail supports popular e-commerce platforms and has dedicated integrations teams here to support you.

Lightrail enables fine-grained control of the rules for which Gift Cards can be issued using Gift Card Programs.

#### Lightrail Gift Card Programs

A Gift Card Program describes the rules and restrictions that apply to the Gift Cards created from that Program. 
For example, a Gift Card Program might declare that all Gift Cards are issued in USD, with an `initialValue` in the range of $5 - 100, and never expire. 

To create a Gift Card, it must be created using a Gift Card Program. 
You may create Gift Card Programs within the <a href="https://www.lightrail.com/app/#/programs" target="_blank">Gift Card</a> section of the Lightrail web application. 
Gift Card Programs are also used to structure and organize related Gift Cards, and also improve tracking of activity within your account. 

Gift Card Programs also provide the flexibility to add integrators. Adding integrators allows you to lend permission so another party can create and issue Gift Cards from your Gift Card Program. 
For more information on this functionality, please contact hello@lightrail.com.

#### Common Requests in Gift Card Integration

| Action                        | Type   | Body                                                                                                                | Endpoint                               | 
|:------------------------------|--------|---------------------------------------------------------------------------------------------------------------------|----------------------------------------|
| Create Gift Card              | `POST` | `{'userSuppliedId':'gc1', 'cardType':'GIFT_CARD', 'programId':'program-123', 'initialValue':500, 'currency':'USD'}` | `/v1/cards`                         | 
| Retrieve `fullcode`           | `GET`  |                                                                                                                     | `/v1/cards/<cardId>/fullcode`       |
| Check Balance                 | `GET`  |                                                                                                                     | `/v1/codes/<fullcode>/card/balance`      |
| Create Transaction            | `POST` | `{'userSuppliedId':'tx1', 'value':-10, 'currency':'USD'}`                                                           | `/v1/codes/<fullcode>/transactions` | 
| Retrieve Transaction History  | `GET`  |                                                                                                                     | `/v1/codes/<fullcode>/transactions` | 

Note, there may be additional endpoints you'd need to use depending on your use-case. 

### Use Case 2: Power an Account Credits or Points Program

Another common use case is one in which Lightrail manages value attached to your customers. 

For example, suppose you'd like to enable your users to earn points within your platform.
Once a user has earned enough points perhaps you'd like to allow them to spend their points and choose a reward.
In this use case, you would create a Contact in the Lightrail API followed by creating an Account Card for that Contact.
This Account Card would be used to track the customer's points. 
As a customer earns or spends value, you would add or subtract value by creating Transactions against the Account Card in the Lightrail API.

#### Common Requests in Account Credits or Points Program

| Action                             | Type   | Body                                                                                               | Endpoint                                                                 | 
|:-----------------------------------|--------|----------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------|
| Create Contact                     | `POST` | `{'userSuppliedId':'ct1', 'email':'name@example.com'}`                                             | `/v1/contacts`                                                           | 
| Create Account Card                | `POST` | `{'userSuppliedId':'ac1', 'cardType':'ACCOUNT_CARD', 'contactId':'contact-123', 'currency':'XXX'}` | `/v1/cards`                                                              | 
| Check Balance                      | `GET`  |                                                                                                    | `/v1/cards/<cardId>/balance`                                             |
| Create Transaction                 | `POST` | `{'userSuppliedId':'tx1', 'value':-10, 'currency':'XXX'}`                                          | `/v1/cards/<cardId>/transactions`                                        | 
| Retrieve Transaction History       | `GET`  |                                                                                                    | `/v1/cards/<cardId>/transactions`                                        | 
| Retrieve Account Card from Contact | `GET`  |                                                                                                    | `/v1/cards?contactId=<contactId>&currency=<currency>&cardType=ACCOUNT_CARD`|

Note, in these example calls, the currency is set to `XXX` to represent points although `USD` or any other valid currency code could be used if you wanted to track a dollar figure.
Also, in this sort of use case, we recommend storing the Account Card's `cardId` with your customer's account within your application. 
This will remove an unnecessary lookup each time you want to update a customer's points.

If this use case fits your need for points, a great way to reward your customers is offer them gift cards from top brands through <a href="https://www.giftbit.com" target="_blank">Giftbit’s Rewards API.</a>

## Create and Attach Promotions

In addition to the many capabilities Lightrail provides out of the box, Lightrail gives you the ability to attach Promotions to Cards, allowing you to incentivize and motivate your users or recipients. 
Promotions work by adding temporary value to your cards with special redemption rules. 
Promotions can be used in both the gift card and account credit use cases. 

Promotions are created from a Promotion Program which can be created from the <a href="https://www.lightrail.com/app/#/promotions" target="_blank">Promotions</a> section of the Lightrail web application. 
Similar to a Gift Card Program, they enable you to restrict promotion properties such the allowed value ranges, currency, and custom expiry. 
A Card is always created with a `PRINCIPAL` ValueStore. When promotions are attached, they are represented as `ATTACHED` ValueStores.

#### How Promotions Fit Into the Lightrail Object Model

For example, suppose you've created a $10 USD Card. It could be either a Gift Card or an Account Card. Below is a model of the newly created objects.

![Promotion Object Model Part1](http://resources.giftbit.com/api/embeddedimages/Lightrail_Promitions_Object_Model_p1.png)

Perhaps you want to add a $5 promotion that will be valid for the next 10 days to incentivize the recipient to spend their value. As you can see below, a new ValueStore is attached to Card. 

![Promotion Object Model Part2](http://resources.giftbit.com/api/embeddedimages/Lightrail_Promitions_Object_Model_p2.png)

Suppose the recipient spends $8 USD within the 10-day limit. Below you can see how the balances of the ValueStore and in turn the balance of the Card is affected.

![Promotion Object Model Part3](http://resources.giftbit.com/api/embeddedimages/Lightrail_Promitions_Object_Model_p3.png)

This example illustrates that when Transactions are created against Cards that have multiple ValueStores, any valid ValueStore will be transacted against in order of expiry. 
As you can see, Lightrail automatically handles the complexity of taking value from the correct ValueStore.

## Implementation Details

### Coding for Idempotency and the `userSuppliedId` Field

The API is fully idempotent on the `userSuppliedId` field, which is a required parameter for all endpoint operations that result in a change of state on the Lightrail side (POST, PUT, PATCH).  
Therefore, in the case of a non-received response from the API or other unknown condition, it is safe and recommended to retry the request with the same `userSuppliedId`.

For example, your customer is using a `fullcode` in your checkout.  
You POST to the _/codes/{fullcode}/transactions_ endpoint to mark the use, but get a network timeout and are unable to process the response. 
As a result, your system doesn't know if Lightrail successfully received your POST and recorded the transaction. 
With idempotency, you do not need any lookups or other complicated error handling to see if the original API call succeeded. 

You can simply retry the same call (as many times as needed) with the same `userSuppliedId`, and get the same 200 response upon success whether or not a previous request went through. 
Our server will do the operation once and only once for that `userSuppliedId`.

Given the above, it is important you think about how to structure your `userSuppliedId`s and error handling so that you are always sending a unique value for different logical requests, but the same one for any retries.  

Attempting to reuse a `userSuppliedId` but providing different request parameters will result in a 409 error.

### About Currency Value, Currency Type, and No-Currency Use (Such as Points)
Where currency type (eg. USD, CDN, AUD) is required or returned, the API expects/uses 3 character uppercase codes conforming to the ISO-4217 standard. 
Lightrail does not do any currency conversion nor does currency influence internal behavior; rather, currency allows you to issue and track cards in different currencies as you choose.

In all cases where value is concerned, you need to provide the amount in the smallest currency unit. 
For most, this is the amount in cents (or pence, penny, or similarly named unit). For example, to create a Card for USD1.00, you would set the initialValue=100 (100 cents).

For zero-decimal currencies or use with non-currency applications such as points, use the regular whole denomination. 
For example, for ¥1, you should set initialValue=1 (1 JPY), since ¥1 is the smallest currency unit.

### About Dates
The API expects all dates in request parameters to conform to the ISO-8601 format, specifically "yyyy-MM-dd'T'HH:mm:ss.SSSZ".  You can see examples in this documentation.

This allows you to control things such as Code expiry in fine granularity to the time zone of your choosing. 
All responses will always be given in this same format.

### Handling Error Responses

Clients should always check the HTTP status code of the response and act accordingly if the response is not a 200.

Error response JSON will be in the following format:
- status: (number) - will match the HTTP response code.    
- message: (string, optional) - a descriptive error message if one is available
- code: (string, optional) - a code that can be provided to Lightrail support if troubleshooting help is needed

#### Example error responses:
| Status | Description         | Message                                                                                                                                          | 
|:-------|---------------------|--------------------------------------------------------------------------------------------------------------------------------------------------|
| `400`  | bad request         | Failed to create card due to error during code creation. Response from code creation: Bad Request. Missing Required Parameter 'initialValue'.    | 
| `401`  | unauthorized        | Unauthorized.                                                                                                                                    |
| `409`  | idempotency failure | A different transaction with the same userSuppliedId already exists.                                                                             |
| `429`  | throttled failure   | Too many requests.                                                              

### Legal Responsibilities
The Lightrail API provides flexibility to implement multiple currency solutions (gift cards, unique promo codes, credit refunds, etc). 
It is the responsibility of the API user and their organization to understand and follow the jurisdictions and laws that govern all aspects of their implementation.

## Ping and Health Check [/ping]
Use the /ping endpoint to check that your authorization is working correctly or to health check the API. 

### Ping [GET]
+ Request (application/json)
    + Headers

            Authorization: Bearer <YOUR_ACCESS_TOKEN>

+ Response 200
    + Attributes
        + username (string) - The email address associated with the credentials provided.
        + servertime (string) - The current time on the server (ISO 8601 format).
        + mode (string) - String indicating whether the credentials provided are for TEST or LIVE mode.
        
    + Body
    
            {
                "user": 
                {
                    "username":"example_merchant_account@yourdomain.com",
                    "servertime": "2016-09-08T18:44:02.124+0000",
                    "mode": "LIVE"
                }
            }
        
+ Response 401

        {
            "status": 401,
            "message": "Unauthorized",
            "code": "CREDENTIALS_INVALID"
        }

## Cards [/cards/]
The _/cards_ endpoint is for use by your system to create and manage your Gift Cards and Account Cards.
The `cardId` should be stored as it's used in many subsequent requests - such as transaction against a Card. 
In use cases where the recipient requires a gift code, the `fullcode` should be supplied. 

### List Cards [GET /cards/{?limit}{?offset}{?categoryKey}{?categoryValue}{?contactId}{?cardType}{?currency}{?userSuppliedId}]
+ Request (application/json)
    + Headers
    
             Authorization: Bearer <YOUR_ACCESS_TOKEN>
   
+ Parameter
    + limit (number, optional) - For pagination.  The maximum number of results to return at once. Default 100.
    + offset (number, optional) - For pagination. The offset of the first results in the total results. Default 0.
    + categoryKey (string, optional) - A key of a Category. 
    + categoryValue (string, optional) - A value of a Category. 
    + contactId (string, optional) - A contactId to filter by.
    + cardType (string, optional) - `ACCOUNT_CARD`, `GIFT_CARD`.
    + currency (string, optional) - The 3 character ISO-4217 currency.
    + userSuppliedId (string, optional)

+ Response 200
    + Attributes 
        + cards (array[Card])

    + Body
    
            {
              "cards": [
                {
                  "cardId": "card-0a0ea9dc17cf4b1da661569d301007d9",
                  "userSuppliedId": "giftcard1",
                  "contactId": null,
                  "dateCreated": "2017-05-19T22:25:53.511+0000",
                  "categories": [
                    {
                      "categoryId": "category-d0f09aa94b0843a3a530d4be3ec26b50",
                      "key": "giftbit_program",
                      "value": "program-3298ee1b076a47efb2b3a987a1008afc"
                    },
                    {
                      "categoryId": "category-8b7c420644c845d6b4c393333da4ea6e",
                      "key": "giftbit_order",
                      "value": "ordername"
                    }
                  ],
                  "cardType": "GIFT_CARD",
                  "currency": "USD"
                },
                {
                  "cardId": "card-b8734ae818854278825c4cfc9dea1e0d",
                  "userSuppliedId": "giftcard2",
                  "contactId": null,
                  "dateCreated": "2017-05-19T22:25:53.505+0000",
                  "categories": [
                    {
                      "categoryId": "category-d0f09aa94b0843a3a530d4be3ec26b50",
                      "key": "giftbit_program",
                      "value": "program-3298ee1b076a47efb2b3a987a1008afc"
                    },
                    {
                      "categoryId": "category-8b7c420644c845d6b4c393333da4ea6e",
                      "key": "giftbit_order",
                      "value": "ordername"
                    }
                  ],
                  "cardType": "GIFT_CARD",
                  "currency": "USD"
                }
              ],
              "pagination": {
                "count": 2,
                "limit": 100,
                "maxLimit": 1000,
                "offset": 0,
                "totalCount": 2
              }
            }

### Retrieve Card by cardId [GET /cards/{cardId}]
+ Parameters 
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

+ Response 200

    + Attributes 
        + card (Card)

    + Body
        
            {
              "card": {
                "cardId": "card-0a0ea9dc17cf4b1da661569d301007d9",
                "userSuppliedId": "giftcard1",
                "contactId": null,
                "dateCreated": "2017-05-19T22:25:53.511+0000",
                "categories": [
                  {
                    "categoryId": "category-8b7c420644c845d6b4c393333da4ea6e",
                    "key": "giftbit_order",
                    "value": "ordername"
                  },
                  {
                    "categoryId": "category-d0f09aa94b0843a3a530d4be3ec26b50",
                    "key": "giftbit_program",
                    "value": "program-3298ee1b076a47efb2b3a987a1008afc"
                  }
                ],
                "cardType": "GIFT_CARD",
                "currency": "USD"
              }
            }

### Create Account Card [POST /cards]

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    + Attributes 
        + userSuppliedId (string, required)
        + cardType (string, required) - ACCOUNT_CARD
        + currency (string, required) - The 3 character ISO-4217 currency.
        + initialValue (number, optional) - If not provided, will default to 0.
        + categories (object, optional) - An object of key-value pairs. For example: `'categories': {'city':'Seattle', 'country':'USA'}`.
        + contactId (string, required) - Note, the Contact must be created before the request to create the card.
        + expires (string, optional) - Defaults to never expires.
        + startDate (string, optional) - The date for which the associated ValueStore will become useable.

    + Body
    
            {
                "userSuppliedId": "accountcard-2",
                "cardType": "ACCOUNT_CARD",
                "contactId": "contact-babda3a527914929b2fb7b987b7d4dad",
                "currency": "USD",
                "categories": {
                  "city":"Seattle",
                  "country":"USA"
                }
            }
        
+ Response 200
    + Attributes
        + card (Card)
        
    + Body
            
            {
              "card": {
                "cardId": "card-5737daabe19e40f5bf586ee6565a48e7",
                "userSuppliedId": "accountcard-2",
                "contactId": "contact-babda3a527914929b2fb7b987b7d4dad",
                "dateCreated": "2017-06-02T00:34:38.736+0000",
                "categories": [
                  {
                    "categoryId": "category-e7712b71809444d694584aac6ea31f2c",
                    "key": "giftbit_order",
                    "value": "2017-06-02"
                  },
                  {
                    "categoryId": "category-5524e3037d7142d79de040b2795b42cb",
                    "key": "giftbit_program",
                    "value": "program-account-USD-user-5022fccf827647ee9cfb63b779d62193"
                  },
                  {
                    "categoryId": "category-34ae33434d7142d79de040b27945sedg",
                    "key": "city",
                    "value": "Seattle"
                  },
                  {
                    "categoryId": "category-45376834f45d5e6f7e040b2795b426rd",
                    "key": "country",
                    "value": "USA"
                  }
                ],
                "cardType": "ACCOUNT_CARD",
                "currency": "USD"
              }
            }

### Create Gift Card [POST /cards]

+ Request (application/json)

    + Headers

            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    + Attributes 
        + userSuppliedId (string, required)
        + cardType (string, required) - GIFT_CARD
        + initialValue (number, optional) - If not provided, will default to 0.
        + currency (string) - The 3 character ISO-4217 currency.
        + programId (string, required)
        + categories (object, optional) - An object of key-value pairs. For example: `'categories': {'city':'Seattle', 'country':'USA'}`.
        + contactId (string, optional) - Note, the Contact must be created before the request to create the card.
        + expires (string, optional) - Defaults to never expires.
        + startDate (string, optional) - The date for which the ValueStore will become useable.
        + inactive (boolean, optional) - If `true` the Card's `PRINCIPAL` ValueStore will have an `INACTIVE` balance.

    + Body
    
            {
                "userSuppliedId": "giftcard-1",
                "cardType": "GIFT_CARD",
                "programId": "program-3298ee1b076a47efb2b3a987a1008afc",
                "initialValue": 500,
                "categories": {
                  "city":"Seattle",
                  "country":"USA"
                }
            }
        
+ Response 200
    + Attributes
        + card (Card)
        
    + Body
            
            {
              "card": {
                "cardId": "card-62ec23f22cd14b4d912d93999083b6b6",
                "userSuppliedId": "giftcard-1",
                "contactId": null,
                "dateCreated": "2017-06-02T00:27:02.910+0000",
                "categories": [
                  {
                    "categoryId": "category-e7712b71809444d694584aac6ea31f2c",
                    "key": "giftbit_order",
                    "value": "2017-06-02"
                  },
                  {
                    "categoryId": "category-d0f09aa94b0843a3a530d4be3ec26b50",
                    "key": "giftbit_program",
                    "value": "program-3298ee1b076a47efb2b3a987a1008afc"
                  },
                  {
                    "categoryId": "category-34ae33434d7142d79de040b27945sedg",
                    "key": "city",
                    "value": "Seattle"
                  },
                  {
                    "categoryId": "category-45376834f45d5e6f7e040b2795b426rd",
                    "key": "country",
                    "value": "USA"
                  }
                ],
                "cardType": "GIFT_CARD",
                "currency": "USD"
              }
            }

### Retrieve fullcode [GET /cards/{cardId}/fullcode]


+ Parameters 
    + cardId (string) - Must be Card with cardType: `GIFT_CARD`.
    
+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

+ Response 200
    + Attributes 
        + fullcode (Fullcode)

    + Body
    
            {
                "fullcode":{
                    "code" : "GFBT-ABCDE-FGHIJK-LMNOP-12345"
                }
            }

### Update Contact on Card [PATCH /cards/{cardId}]

+ Parameters 
    + cardId (string, required) 

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
            
    + Attributes
        + contactId (string, required) - The Contact's unique identifier which you'd like to update the card with.
            
    + Body
    
            {
                "contactId": "contact-592941d2335d402e9dc3d6a981bc3896"
            }

+ Response 200

    + Attributes 
        + card (Card)

    + Body
        
            {
              "card": {
                "cardId": "card-2235b727f65a46648138429b95fdaa7b",
                "userSuppliedId": "testCategoryCreation10-19",
                "contactId": "contact-592941d2335d402e9dc3d6a981bc3896",
                "dateCreated": "2017-05-16T16:49:33.027+0000",
                "categories": [
                  {
                    "categoryId": "category-48ecc24b16944b40a1218e319facd24a",
                    "key": "giftbit_order",
                    "value": "testCategoryCreationId9"
                  }
                ],
                "cardType": "GIFT_CARD",
                "currency": "USD"
              }
            }

### Activate Card [POST /cards/{cardId}/activate]

+ Parameters
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + userSuppliedId (string, required)
        
    + Body 
    
            {
                "userSuppliedId":"activate_123"
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                "transaction":{
                    "transactionId": "transaction-dad500e4a5fe452c98f5b4f1ae22006c",
                    "value": 50,
                    "userSuppliedId": "activate_123",
                    "dateCreated": "2017-06-02T19:23:19.238+0000",
                    "transactionType": "ACTIVATE",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 50,
                    "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                    "codeLastFour": "VHK9",
                    "cardId": "card-071558e0e5d946289a9179caa47797d6",
                    "currency": "XXX"
                }
            }

### Freeze Card [POST /cards/{cardId}/freeze]
+ Parameters
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + userSuppliedId (string, required)
    + Body 
    
            {
                "userSuppliedId":"freezecard-1"
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            
            {
                "transaction":{
                    "transactionId": "transaction-8729d3233a824d568ed60e984c2d92c1",
                    "value": -50,
                    "userSuppliedId": "freezecard-1",
                    "dateCreated": "2017-06-02T19:34:41.338+0000",
                    "transactionType": "FREEZE",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 0,
                    "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                    "codeLastFour": "VHK9",
                    "cardId": "card-071558e0e5d946289a9179caa47797d6",
                    "currency": "XXX"
                }
            }          

### Unfreeze Card [POST /cards/{cardId}/unfreeze]
+ Parameters
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + userSuppliedId (string, required)
    + Body 
    
            {
                "userSuppliedId":"unfreeze-1"
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                "transaction":{
                    "transactionId": "transaction-99557161bed947028d0b5906cdd58bae",
                    "value": 50,
                    "userSuppliedId": "unfreeze-1",
                    "dateCreated": "2017-06-02T19:36:23.023+0000",
                    "transactionType": "UNFREEZE",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 50,
                    "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                    "codeLastFour": "VHK9",
                    "cardId": "card-071558e0e5d946289a9179caa47797d6",
                    "currency": "XXX"
                }
            }

### Cancel Card [POST /cards/{cardId}/cancel]
+ Parameters
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
            
    + Attributes
        + userSuppliedId (string, required)
    
    + Body
            
            {
                "userSuppliedId": "cancel-1"
            }
    
+ Response 200

    + Body

            {
                "card":{
                    "cardId": "card-071558e0e5d946289a9179caa47797d6",
                    "userSuppliedId": "gift_card_1",
                    "contactId": null,
                    "dateCreated": "2017-06-02T19:21:40.224+0000",
                    "categories":[
                    {
                    "categoryId": "category-ac01a564749d4fd3b95e501ce5559f4c",
                    "key": "giftbit_status",
                    "value": "CANCELLED"
                    },
                    {
                    "categoryId": "category-fc83a09880c44063903b1c034af02df7",
                    "key": "giftbit_order",
                    "value": "2017-06-02"
                    }
                    ],
                    "cardType": "GIFT_CARD",
                    "currency": "XXX"
                }
            }

## Contacts [/contacts]

Contacts can be attached to Cards to help you keep track of who is interacting with your Cards.

### List Contacts [GET /contacts{?limit}{?offset}{?email}{?firstName}{?lastName}{?userSuppliedId}]

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
            
+ Parameters 
    + limit (number, optional) - For pagination.  The maximum number of results to return at once. Default 100.
    + offset (number, optional) - For pagination. The offset of the first results in the total results. Default 0.
    + email (string, optional)
    + firstName (string, optional)
    + lastName (string, optional)
    + userSuppliedId (string, optional)
    
+ Response 200
    + Attributes
       + contact (Contact)

    + Body
    
            {
                "contacts":[
                    {
                        "contactId": "contact-0f06b54b9fa44727a7ba7043de5365cf",
                        "userSuppliedId": "12345678",
                        "email": "noreply@giftbit.com",
                        "firstName": "Jane",
                        "lastName": "Smith",
                        "dateCreated": "2016-12-09T00:06:00.000+0000"
                    },
                    {
                        "contactId": "contact-1f06b54b9fa44727a7ba7043de5365ce",
                        "userSuppliedId": "12345679",
                        "email": "noreply@giftbit.com",
                        "firstName": "John",
                        "lastName": "Smith",
                        "dateCreated": "2016-12-09T00:06:00.000+0000"
                    }
                ]
            }

### Show Contact [GET /contacts/{contactId}]

+ Parameters
    + contactId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
            
    
+ Response 200
    + Attributes
        + contact (Contact)

    + Body
    
            {
                "contact":
                {
                    "contactId": "contact-0f06b54b9fa44727a7ba7043de5365cf",
                    "userSuppliedId": "12345678",
                    "email": "noreply@giftbit.com",
                    "firstName": "Jane",
                    "lastName": "Smith",
                    "dateCreated": "2016-12-09T00:06:00.000+0000"
                }
            }

### Create Contact [POST /contacts]

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    + Attributes 
        + userSuppliedId (string, required)
        + email (string, optional) 
        + firstName (string, optional)
        + lastName (string, optional) 
            
    + Body
    
            {
                "userSuppliedId": "12345678",
                "email": "noreply@giftbit.com"
            }
        

    
+ Response 200
    + Attributes 
        + contact (Contact)

    + Body
    
            {
                "contact":
                {
                    "contactId": "contact-0f06b54b9fa44727a7ba7043de5365cf",
                    "userSuppliedId": "12345678",
                    "email": "noreply@giftbit.com",
                    "firstName": null,
                    "lastName": null,
                    "dateCreated": "2016-12-09T00:06:00.000+0000"
                }
            }

### Update Contact [PATCH /contacts/{contactId}/]
+ Parameters
    + contactId (string, required)
    
+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
            
    + Attributes
        + email (string, optional) 
        + firstName (string, optional)
        + lastName (string, optional) 
            
    + Body
    
            {
                "firstName": "Jane",
                "lastName": "Smith"
            }
    
+ Response 200
    + Attributes 
        + contact (Contact)

    + Body
    
            {
                "contact":
                {
                    "contactId": "contact-0f06b54b9fa44727a7ba7043de5365cf",
                    "userSuppliedId": "12345678",
                    "email": "noreply@giftbit.com",
                    "firstName": "Jane",
                    "lastName": "Smith",
                    "dateCreated": "2016-12-09T00:06:00.000+0000"
                }
            }

### Delete Contact [DELETE /contacts/{contactId}]
+ Parameters 
    + contactId (string, required) 
    
+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

+ Response 204

### Retrieve Account Cards or Gift Cards for Contact [GET /cards{?contactId}{?cardType}{?currency}]
+ Parameters 
    + contactId (string, required) 
    + cardType (string, required) - `ACCOUNT_CARD`, `GIFT_CARD`
    + currency (string, optional) - Only needed if your Contact has Account Cards in multiple currencies.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes
        + cards (array[Card])

    + Body
    
            {
                "cards":[
                    {
                        "dateCreated": "2017-05-09T17:07:23.675+0000",
                        "contactId": "contact-4ffe2b27f2e046179094b2c7828287d4",
                        "cardId": "card-3809c739c532401d908ee7b2ea061276",
                        "userSuppliedId": "account-XXX-contact-4ffe2b27f2e046179094b2c7828287d4-user-d74d948ab0524f63995322bfe4981942-TEST",
                        "categories":[{"value": "program-account-XXX-user-d74d948ab0524f63995322bfe4981942-TEST", "categoryId": "category-049bfe85b3df46a8b55e0efd95355643",…]
                    },
                    {
                        "dateCreated": "2017-05-09T16:43:40.893+0000",
                        "contactId": "contact-4ffe2b27f2e046179094b2c7828287d4",
                        "cardId": "card-89d8e3196abd47c5951e025309e66c42",
                        "userSuppliedId": "account-USD-contact-4ffe2b27f2e046179094b2c7828287d4-user-d74d948ab0524f63995322bfe4981942-TEST",
                        "categories":[{"value": "account", "categoryId": "category-a1a37522f2634792b1e8ca7558235ace", "key": "giftbit_cardtype"…]
                    }
                ]
            }
            
## Transactions [/cards/{cardId}/transactions]
A feature the Lightrail API supports is the ability to create Pending Transactions. 
This means the value required for the Pending Transaction will be unavailable to be used for other Transactions. 
A Pending Transaction can either be captured, which confirms the Transaction, or it can be voided, freeing up their associated value. 

### List Card Transactions [GET /cards/{cardId}/transactions]
+ Parameters
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + limit (number, optional) - For pagination.  The maximum number of results to return at once. Default 100.
        + offset (number, optional) - For pagination. The offset of the first results in the total results. Default 0.
    
+ Response 200
    + Attributes
        + transactions (array[Transaction])

    + Body
    
                {
                    "transactions":[
                    {
                        "transactionId": "transaction-93ab4555d2c44b48b0d7c11877d7e7ce",
                        "value": -50,
                        "userSuppliedId": "gift_card_2-inactive",
                        "dateCreated": "2017-06-02T21:19:03.110+0000",
                        "transactionType": "INACTIVATE",
                        "transactionAccessMethod": "CARDID",
                        "valueAvailableAfterTransaction": 0,
                        "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                        "codeLastFour": "95Q7",
                        "cardId": "card-62029938e3394c629b2cec33b2bd280c",
                        "currency": "XXX"
                    },
                    {
                        "transactionId": "transaction-c5b2ac21d2c946b5bfd17f2ea9bcf6e6",
                        "value": 50,
                        "userSuppliedId": "gift_card_2",
                        "dateCreated": "2017-06-02T21:19:03.088+0000",
                        "transactionType": "INITIAL_VALUE",
                        "transactionAccessMethod": "CARDID",
                        "valueAvailableAfterTransaction": 50,
                        "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                        "codeLastFour": "95Q7",
                        "cardId": "card-62029938e3394c629b2cec33b2bd280c",
                        "currency": "XXX"
                    }
                    ],
                    "pagination":{
                        "count": 2,
                        "limit": 100,
                        "maxLimit": 1000,
                        "offset": 0,
                        "totalCount": 2
                    }
                }

### Show Transaction [GET /cards/{cardId}/transactions/{transactionId}]
+ Parameters
    + cardId (string, required)
    + transactionId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                transaction":{
                "transactionId": "transaction-93ab4555d2c44b48b0d7c11877d7e7ce",
                "value": -50,
                "userSuppliedId": "gift_card_2-inactive",
                "dateCreated": "2017-06-02T21:19:03.110+0000",
                "transactionType": "INACTIVATE",
                "transactionAccessMethod": "CARDID",
                "valueAvailableAfterTransaction": 0,
                "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                "codeLastFour": "95Q7",
                "cardId": "card-62029938e3394c629b2cec33b2bd280c",
                "currency": "XXX"
                }          
            }

### Create Transaction [POST /cards/{cardId}/transactions]
+ Parameters
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + value (number, required) 
        + currency (required) - The 3 character ISO-4217 currency code.  
        + metadata (Metadata, optional)
        + pending (boolean, optional) - If `true`, the required value will be locked, however in order to complete the transaction the pending transaction must be captured.
        
    + Body 
    
            {
                  "userSuppliedId": "tx123",
                  "currency": "USD",
                  "value":-5
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                "transaction":{
                "transactionId": "transaction-5399fd535a1e4740aa3509547f78fa4d",
                "value": 5,
                "userSuppliedId": "tx123",
                "dateCreated": "2017-06-02T22:46:04.269+0000",
                "transactionType": "FUND",
                "transactionAccessMethod": "CARDID",
                "valueAvailableAfterTransaction": 5,
                "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                "codeLastFour": "4JFC",
                "cardId": "card-dd9f6a2cf32441859a1215e09fe3a984",
                "currency": "USD"
                }
            }

### Capture Pending Transaction [POST /cards/{cardId}/transactions/{transactionId}/capture]
+ Parameters
    + cardId (string, required)
    + transactionId (string, required) - Must be a pending Transaction.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                transaction":{
                    "transactionId": "transaction-d47cc836d3374ffa97bb1d567b7cb3ae",
                    "value": -5,
                    "userSuppliedId": "transaction-2ea0cd741b3c47c095bd7733f2b58a72-capture",
                    "dateCreated": "2017-06-05T15:29:16.012+0000",
                    "transactionType": "DRAWDOWN",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 0,
                    "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                    "codeLastFour": "4JFC",
                    "cardId": "card-dd9f6a2cf32441859a1215e09fe3a984",
                    "currency": "USD",
                    "metadata":{
                        "giftbit_initial_transaction_id": "transaction-2ea0cd741b3c47c095bd7733f2b58a72"
                    }
                }
            }

### Void Pending Transaction [POST /cards/{cardId}/transactions/{transactionId}/void]
+ Parameters
    + cardId (string, required)
    + transactionId (string, required) - Must be a pending Transaction.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes
        + transaction (Transaction)
        
    + Body

            {
                "transaction":{
                    "transactionId": "transaction-6dee56c48fad450c86701a8df4fa0224",
                    "value": 55,
                    "userSuppliedId": "transaction-8022ae1192c54dd381be73bdeb6c1821-reverse",
                    "dateCreated": "2017-06-05T15:35:09.345+0000",
                    "transactionType": "PENDING_VOID",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 500,
                    "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                    "codeLastFour": "4JFC",
                    "cardId": "card-dd9f6a2cf32441859a1215e09fe3a984",
                    "currency": "USD",
                    "metadata":{
                        "giftbit_initial_transaction_id": "transaction-8022ae1192c54dd381be73bdeb6c1821"
                    }
                }
            }

### Refund Transaction [POST /cards/{cardId}/transactions/{transactionId}/refund]

+ Parameters
    + cardId (string, required)
    + transactionId (string, required) - Must be a Transaction with transactionType `DRAWDOWN`.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes
        + transaction (Transaction)
        
    + Body

            {
                "transaction":{
                    "transactionId": "transaction-6095a1ed424e4830bb4222700553932b",
                    "value": 1,
                    "userSuppliedId": "transaction-c18f96a812ce4972b6c41d13979f2e36-reverse",
                    "dateCreated": "2017-06-05T17:56:28.239+0000",
                    "transactionType": "DRAWDOWN_REFUND",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 4,
                    "giftbitUserId": "user-8c999f89a3874e43863d1b037b3459d9-TEST",
                    "codeLastFour": "WXE2",
                    "cardId": "card-844072e5247a4980b3a511c7db36cca0",
                    "currency": "USD",
                    "metadata":{
                        "giftbit_initial_transaction_id": "transaction-c18f96a812ce4972b6c41d13979f2e36"
                    }
                }
            }

## Codes [/codes/{fullcode}/transactions]

### List Transactions [GET /codes/{fullcode}/transactions{?pin}]
+ Parameters
    + fullcode (string, required)
    + pin (string, optional) - This is required if the fullcode has a pin.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes
        + transactions (array[Transaction])

    + Body

            {
                "transactions":[
                {
                "transactionId": "transaction-3ec8ad2afea14c04906159ee8f1ad735",
                "value": -50,
                "userSuppliedId": "gift_card_4-inactive",
                "dateCreated": "2017-06-05T15:39:25.411+0000",
                "transactionType": "INACTIVATE",
                "transactionAccessMethod": "CARDID",
                "valueAvailableAfterTransaction": 0,
                "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                "codeLastFour": "S9X5",
                "cardId": "card-9991e39b4526401f85a889cb20b1a465",
                "currency": "XXX"
                },
                {
                "transactionId": "transaction-8d8522890156451e9ddac45e96167f04",
                "value": 50,
                "userSuppliedId": "gift_card_4",
                "dateCreated": "2017-06-05T15:39:25.395+0000",
                "transactionType": "INITIAL_VALUE",
                "transactionAccessMethod": "CARDID",
                "valueAvailableAfterTransaction": 50,
                "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                "codeLastFour": "S9X5",
                "cardId": "card-9991e39b4526401f85a889cb20b1a465",
                "currency": "XXX"
                }
                ],
                "pagination":{
                "count": 2,
                "limit": 100,
                "maxLimit": 1000,
                "offset": 0,
                "totalCount": 2
                }
            }

### Show Transaction [GET /codes/{fullcode}/transactions/{transactionId}{?pin}]
+ Parameters
    + transactionId (string, required)
    + fullcode (string, required)
    + pin (string, optional) - This is required if the fullcode has a pin.
    

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes
        + transaction (Transaction)
        
    + Body 
    
            {
                transaction":{
                    "transactionId": "transaction-3ec8ad2afea14c04906159ee8f1ad735",
                    "value": -50,
                    "userSuppliedId": "gift_card_4-inactive",
                    "dateCreated": "2017-06-05T15:39:25.411+0000",
                    "transactionType": "INACTIVATE",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 0,
                    "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                    "codeLastFour": "S9X5",
                    "cardId": "card-9991e39b4526401f85a889cb20b1a465",
                    "currency": "XXX"
                }
            }

### Create Transaction [POST /codes/{fullcode}/transactions{?pin}]
+ Parameters
    + fullcode (string, required)
    + pin (string, optional) - This is required if the fullcode has a pin.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + value (number, required) 
        + currency (required) - The 3 character ISO-4217 currency code.  
        + metadata (Metadata, optional)
        + pending (boolean, optional) - If `true`, the required value will be locked, however in order to complete the transaction the pending transaction must be captured.
        
    + Body 
    
            {
                  "userSuppliedId": "tx123",
                  "currency": "USD",
                  "value":-5
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                "transaction":{
                "transactionId": "transaction-5399fd535a1e4740aa3509547f78fa4d",
                "value": 5,
                "userSuppliedId": "tx123",
                "dateCreated": "2017-06-02T22:46:04.269+0000",
                "transactionType": "FUND",
                "transactionAccessMethod": "CARDID",
                "valueAvailableAfterTransaction": 5,
                "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                "codeLastFour": "4JFC",
                "cardId": "card-dd9f6a2cf32441859a1215e09fe3a984",
                "currency": "USD"
                }
            }


## ValueStores: Managing Promotions [/cards/{cardId}/valueStores/]

### List ValueStores [GET /cards/{cardId}/valueStores]
+ Parameters
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

+ Response 200
    + Attributes
        + valueStores (array[ValueStore])

    + Body

            {
                "valueStores":[
                {
                    "cardId": "card-9991e39b4526401f85a889cb20b1a465",
                    "valueStoreId": "value-0ff47ca176eb4708b08a8bb010584704",
                    "valueStoreType": "PRINCIPAL",
                    "currency": "XXX",
                    "dateCreated": "2017-06-05T15:39:25.392+0000",
                    "programId": "program-dedccd921d074f1eb6c0f75fc5ebee72"
                }
                ],
                "pagination":{
                "count": 1,
                "limit": 100,
                "maxLimit": 1000,
                "offset": 0,
                "totalCount": 1
                }          
            }

### Show ValueStore [GET /cards/{cardId}/valueStores/{valueStoreId}]
+ Parameters
    + cardId (string, required)
    + valueStoreId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    
+ Response 200
    + valueStore (ValueStore)

    + Body

            {
                "valueStore":{
                    "cardId": "card-9991e39b4526401f85a889cb20b1a465",
                    "valueStoreId": "value-0ff47ca176eb4708b08a8bb010584704",
                    "valueStoreType": "PRINCIPAL",
                    "currency": "XXX",
                    "dateCreated": "2017-06-05T15:39:25.392+0000",
                    "programId": "program-dedccd921d074f1eb6c0f75fc5ebee72"
                }
            }

### Create ValueStore [POST /cards/{cardId}/valueStores]
+ Parameters
    + cardId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + userSuppliedId (string, required)
        + currency (string, required) - The 3 character ISO-4217 currency.
        + programId (string, required) - The unique id of the Promotion Program.
        + expires (string, optional) - Defaults to lifespan set by program.
        + startDate (string, optional) - The date for which the ValueStore will become useable.
        + initialValue (number, optional) 
        + metadata (Metadata, optional)
        
    + Body 
    
            {
            "userSuppliedId":"promo1",
            "currency": "XXX",
            "programId":"program-d0c6328cacde469ba3b28105e9d89c04",
            "initialValue":150
            }
    
+ Response 200
    + Attributes
        + valueStore (ValueStore)

    + Body

            {
                "valueStore":{
                    "cardId": "card-9991e39b4526401f85a889cb20b1a465",
                    "valueStoreId": "value-806116e736854136867d17fbfb959382",
                    "valueStoreType": "ATTACHED",
                    "currency": "XXX",
                    "dateCreated": "2017-06-05T16:14:58.314+0000",
                    "programId": "program-d0c6328cacde469ba3b28105e9d89c04",
                    "expires": "2017-06-13T06:59:59.000+0000"
                }   
            }

### Activate ValueStore [POST /cards/{cardId}/valueStores/{valueStoreId}/actiave]
+ Parameters
    + cardId (string, required)
    + valueStoreId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + userSuppliedId (string, required)
        
    + Body 
    
            {
                "userSuppliedId":"activateValueStore-1"
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                "transaction":{
                    "transactionId": "transaction-b0bfc060af384962bcb19b85f55906eb",
                    "value": 50,
                    "userSuppliedId": "activateValueStore-1",
                    "dateCreated": "2017-06-05T16:34:55.210+0000",
                    "transactionType": "ACTIVATE",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 50,
                    "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                    "codeLastFour": "NKNA",
                    "cardId": "card-fb8e53946e784280a2bc8273dcbb0fda",
                    "currency": "XXX"
                }
            }

### Freeze ValueStore [POST /cards/{cardId}/valueStores/{valueStoreId}/freeze]
+ Parameters
    + cardId (string, required)
    + valueStoreId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + userSuppliedId (string, required)
        
    + Body 
    
            {
                "userSuppliedId":"freeze-valuestore-1"
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)


    + Body

            {
                "transaction":{
                    "transactionId": "transaction-3f96b36c9b2845e2b3e61e3d74d955e1",
                    "value": -50,
                    "userSuppliedId": "freeze-valueStore-1",
                    "dateCreated": "2017-06-05T16:36:56.321+0000",
                    "transactionType": "FREEZE",
                    "transactionAccessMethod": "CARDID",
                    "valueAvailableAfterTransaction": 0,
                    "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                    "codeLastFour": "NKNA",
                    "cardId": "card-fb8e53946e784280a2bc8273dcbb0fda",
                    "currency": "XXX"
                }
            }

### Unfreeze ValueStore [POST /cards/{cardId}/valueStores/{valueStoreId}/unfreeze]
+ Parameters
    + cardId (string, required)
    + valueStoreId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + userSuppliedId (string, required)
        
    + Body 
    
            {
                "userSuppliedId":"unfreeze-valuestore-1"
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                "transaction":{
                "transactionId": "transaction-f7726f6b6d52412980544ee217894c82",
                "value": 50,
                "userSuppliedId": "unfreeze-valueStore-1",
                "dateCreated": "2017-06-05T16:37:57.218+0000",
                "transactionType": "UNFREEZE",
                "transactionAccessMethod": "CARDID",
                "valueAvailableAfterTransaction": 50,
                "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                "codeLastFour": "NKNA",
                "cardId": "card-fb8e53946e784280a2bc8273dcbb0fda",
                "currency": "XXX"
                }
            }

### Cancel ValueStore [POST /cards/{cardId}/valueStores/{valueStoreId}/cancel]
+ Parameters
    + cardId (string, required)
    + valueStoreId (string, required)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>

    + Attributes
        + userSuppliedId (string, required)
        
    + Body 
    
            {
                "userSuppliedId":"cancel-valuestore-1"
            }
    
+ Response 200
    + Attributes
        + transaction (Transaction)

    + Body

            {
                "transaction":{
                "transactionId": "transaction-7f9c5dea0be24f57a902568a23a11c89",
                "value": -50,
                "userSuppliedId": "cancel-valueStore-1",
                "dateCreated": "2017-06-05T16:39:06.679+0000",
                "transactionType": "CANCELLATION",
                "transactionAccessMethod": "CARDID",
                "valueAvailableAfterTransaction": 0,
                "giftbitUserId": "user-5022fccf827647ee9cfb63b779d62193-TEST",
                "codeLastFour": "NKNA",
                "cardId": "card-fb8e53946e784280a2bc8273dcbb0fda",
                "currency": "XXX"
                }
            }

## Balances [/cards/{cardId}/balance/]

### Get Balance by cardId [GET /cards/{cardId}/balance{?asAtDate}]
+ Parameters
    + cardId (string, required)
    + asAtDate (string, optional) - The date and time you'd like to retrieve the balance at.
+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes (Balance)

    + Body

            {
                "balance":{
                "principal":{
                "currentValue": 150,
                "state": "ACTIVE",
                "expires": null,
                "startDate": null,
                "programId": "program-dedccd921d074f1eb6c0f75fc5ebee72",
                "valueStoreId": "value-18638d4486ad4feaab125a61f5df3079"
                },
                "attached":[
                ],
                "currency": "USD",
                "cardType":"GIFT_CARD",
                "balanceDate": "2017-06-05T17:11:36.999+0000"
                }
            }

### Get Balance by fullcode [GET /codes/{fullcode}/card/balance{?asAtDate}{?pin}]
+ Parameters
    + fullcode (string, required)
    + pin (string, optional) - This is required if the fullcode has a pin.
    + asAtDate (string, optional) - The date and time you'd like to retrieve the balance at.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes (Balance)

    + Body

            {
                "balance":{
                "principal":{
                "currentValue": 150,
                "state": "ACTIVE",
                "expires": null,
                "startDate": null,
                "programId": "program-dedccd921d074f1eb6c0f75fc5ebee72",
                "valueStoreId": "value-18638d4486ad4feaab125a61f5df3079"
                },
                "attached":[
                ],
                "currency": "USD",
                "cardType":"GIFT_CARD",
                "balanceDate": "2017-06-05T17:11:36.999+0000"
                }
            }

### Get Balance by fullcode (Deprecated) [GET /codes/{fullcode}/balance{?asAtDate}{?pin}]
Note, this endpoint is deprecated and should no longer be used. 
+ Parameters
    + fullcode (string, required)
    + pin (string, optional) - This is required if the fullcode has a pin.
    + asAtDate (string, optional) - The date and time you'd like to retrieve the balance at.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Body

            {
                balance":{
                "currentValue": 150,
                "fundedValue": 0,
                "drawdownValue": 0,
                "cancellationValue": 0,
                "initialValue": 150,
                "frozenValue": 0,
                "inactiveValue": 0,
                "pendingValue": 0,
                "currency": "USD"
                }
            }

## Categories [/categories/]

### List Categories [GET /categories]
+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes
        + categories (array[Category])

    + Body

            {
                "categories":[
                {
                "categoryId": "category-46f7808dffa54c8ba0da83d448ead415",
                "key": "giftbit_program",
                "value": "program-dedccd921d074f1eb6c0f75fc5ebee72"
                },
                {
                "categoryId": "category-da55afb0c007420e9417e38bc47ca8d9",
                "key": "giftbit_order",
                "value": "2017-06-05"
                }
                ],
                "pagination":{
                "count": 2,
                "limit": 100,
                "maxLimit": 1000,
                "offset": 0,
                "totalCount": 2
                }
            }

### List Categories on Card [GET /cards/{cardId}/categories]
+ Parameters
    + cardId (string, required)
    
+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200
    + Attributes
        + categories (array[Category])

    + Body

            {
                "categories":[
                    {
                    "categoryId": "category-46f7808dffa54c8ba0da83d448ead415",
                    "key": "giftbit_program",
                    "value": "program-dedccd921d074f1eb6c0f75fc5ebee72"
                    },
                    {
                    "categoryId": "category-da55afb0c007420e9417e38bc47ca8d9",
                    "key": "giftbit_order",
                    "value": "2017-06-05"
                    }
            }

## Programs [/programs/]

### List Programs [GET /programs]
+ Request (application/json)
    + Headers
    
            Authorization: Bearer <YOUR_ACCESS_TOKEN>
    
+ Response 200

    + Body

            {
                "programs":[
                {
                "programId": "program-dedccd921d074f1eb6c0f75fc5ebee72",
                "userSuppliedId": "568fa33b-5cb34b3c-5c2bccf2",
                "name": "Gift Card Program 2017",
                "active": true,
                "currency": "USD",
                "dateCreated": "2017-06-05T17:09:10.000+0000",
                "programExpiresDate": null,
                "programStartDate": "2017-06-05T15:51:35.000+0000",
                "codeActivePeriodInDays": null,
                "codeValueMin": 100,
                "codeValueMax": 50000,
                "fixedCodeValues": null,
                "codeEngine": "SIMPLE_STORED_VALUE",
                "codeConfig": "GFBT",
                "valueStoreType": "PRINCIPAL",
                "metadata": null,
                "timeZone": "PST",
                "cardType": null
                },
                {
                "programId": "program-d0c6328cacde469ba3b28105e9d89c04",
                "userSuppliedId": "527650f4-6b903ce9-4c792cf6",
                "name": "Spring Promotion 2017",
                "active": true,
                "currency": "XXX",
                "dateCreated": "2017-06-05T16:14:46.000+0000",
                "programExpiresDate": null,
                "programStartDate": "2017-06-05T15:51:35.000+0000",
                "codeActivePeriodInDays": 7,
                "codeValueMin": 1,
                "codeValueMax": 5000,
                "fixedCodeValues": null,
                "codeEngine": "SIMPLE_STORED_VALUE",
                "codeConfig": "GFBT",
                "valueStoreType": "ATTACHED",
                "metadata": null,
                "timeZone": "PST",
                "cardType": null
                }
                ],
                "pagination":{
                "count": 2,
                "limit": 100,
                "maxLimit": 1000,
                "offset": 0,
                "totalCount": 2
                }
            }

# Data Structures

## IdempotentObject (object)
+ userSuppliedId (string, required) - The unique identifier provided when this call was made. 

## Card (object)
+ cardId (string) 
+ userSuppliedId (string) 
+ contactId (string) 
+ dateCreated (string) - Lightrail system time of the creation in ISO-8601 format.
+ categories (Category) 
+ cardType (string) - `ACCOUNT_CARD`, `GIFT_CARD`.

## ValueStore (object)
+ cardId (string)
+ valueStoreId (string)
+ valueStoreType (string) - `PRINCIPAL`, `ATTACHED`
+ currency (string) - The 3 character ISO-4217 currency.
+ dateCreated (string) - Lightrail system time of the creation in ISO-8601 format.
+ programId (string)
+ expires (string)
+ startDate (string, optional) - The date for which the ValueStore will become useable.

## Fullcode (object)
+ code (string, required)
+ pin (string, optional)

## Transaction (object)
+ transactionId (string)
+ value (number)
+ userSuppliedId (string)
+ dateCreated (string) - Lightrail system time of the creation in ISO-8601 format.
+ transactionType (string) - `DRAWDOWN, FUND, INITIAL_VALUE, CANCELLATION, INACTIVATE, ACTIVATE, FREEZE, UNFREEZE, PENDING_CREATE, PENDING_VOID, PENDING_CAPTURE, DRAWDOWN_REFUND`.
+ transactionAccessMethod (string)
+ valueAvailableAfterTransaction (string)
+ giftbitUserId (string)
+ codeLastFour (string, optional) - Only present for Card with cardType `GIFT_CARD`.
+ cardId (string)
+ currency (string) - The 3 character ISO-4217 currency.
+ metadata (object) - A collection of key/value pairs of additional information about the transaction. The `giftbit_*` namespace for keys is reserved.

## Pagination (object)
+ limit (number, optional) - The maximum number of results to return at once. Default 100.
+ offset (number, optional) - The offset of the first results in the total results. Default 0.

## Code (object)
+ currency (string, required) - The 3 character ISO-4217 currency.
+ initialValue (number, required) - The value of the code at creation in the smallest currency unit 
  (such as cents).
+ programId (string, required) - The id of the Program for which the code will be created from.
+ expires (string, optional) - The code's expiry date and time.  This field will be ommitted if the 
  code was not created with an expiry.  ISO-8601 format.
+ startDate (string, optional) - The code's start date and time.  This field will be ommitted if 
  the code was not created with an start date.  ISO-8601 format.
+ metadata (object) - A collection of key/value pairs of additional information about the code. 
  The `giftbit_*` namespace for keys is reserved. 

## ValueStoreBalance (object)
+ currentValue (number)
+ state (string) - `ACTIVE`, `INACTIVE`, `NOT_STARTED`, `EXPIRED`, `FROZEN`, `CANCELLED`
+ expires (string, optional)
+ startDate (string, optional) - The date for which the ValueStore will become useable.
+ programId (string)
+ valueStoreId (string)

## Balance (object)
+ principal (ValueStoreBalance)
+ attached (array[ValueStoreBalance])
+ currency (string) - The 3 character ISO-4217 currency.
+ cardType (string) - `ACCOUNT_CARD`, `GIFT_CARD`.
+ balanceDate (string) - The time the balance was checked.

## Category (object)
+ categoryKey (string) - The key of the category. Examples: "giftbit_order", "city"
+ categoryValue (string) - The value of the category. Examples: "My Order", "san francisco"


## Contact (object)
+ contactId (string, required) - Lightrail's unique identifier for this Contact. Be sure to persist this value for future operations.
+ userSuppliedId (string, required) - The unique ID supplied on Contact creation.
+ dateCreated(string, required) - Lightrail system time of the creation of the Contact. ISO-8601 format.
+ email (string) - The provided email, if applicable.
+ firstName (string) - The provided firstName, if applicable.
+ lastName (string) - The provided lastName, if applicable.

## Metadata (object)
+ A collection of key/value pairs of additional information about the transaction. The `giftbit_*` namespace for keys is reserved.